CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.vscode
*.code-workspace

// lesson-01-logger
lesson-01-logger/scripts/helpers/logger.c
